#card{
  position: relative;
  margin: auto;
  text-align: center;
  height: 12cm;
  width: 25cm;
  top: 3cm;
}

h5{
  font-family: 'Kanit', sans-serif;
}

#img{
  position: relative;
  height: 2cm;
  width: 12.5cm;
  height: 9.5cm;
  left: .5cm;
  border-style: solid;
}
